body{
  background-color:gray;
}
.stuff{
  width:100%;
  height:100%;
  background-color:red;
  position:absolute;
  top:0;
  left:0;
  opacity:0.5;
  z-index:2;
}

p{
  position:absolute;
  z-index:3;
  
  
}


#twitter-news{
  border:1px solid #1155cc;
  margin: 0 0 1em; 
  padding: 15px; 
  float: left; 
  width: 336px;
  font-size: 1.25em;
  background-color:gray;
}




#twitter-news p {
  float: left; 
  margin: 0; 
  padding: 0;
  background-color:gray;
}
#twitter-news .timePosted {
  margin: 0; 
  font-size: 1em; 
  background-color:gray;
}
