/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.stuff{
  width:90%;
  height:100%;
  position:absolute;
  opacity:0.5;
  z-index:2;
}

.test{
  width:999px;
}
.blah{
  font-size:150%;
  border:1px solid #1155cc;
  padding: 10px; 
  width: 1336px !important;
  font-size: 1.25em;
   background: -webkit-linear-gradient(top, #65a9d7, #dae2e8);
   background: -moz-linear-gradient(top, #dddddd, #dae2e8);
   background: -ms-linear-gradient(top, #dddddd, #dae2e8);
   background: -o-linear-gradient(top, #dddddd, #dae2e8);
}
#twitter-news{
  font-size:150%;
  border:1px solid #1155cc;
  padding: 2px; 
  width: 1336px;
  font-size: 1.25em;
   background: -webkit-linear-gradient(top, #65a9d7, #dae2e8);
   background: -moz-linear-gradient(top, #dddddd, #dae2e8);
   background: -ms-linear-gradient(top, #dddddd, #dae2e8);
   background: -o-linear-gradient(top, #dddddd, #dae2e8);
}




#twitter-news p {
  margin: 5; 
  padding: 5;
}
#twitter-news .timePosted {
  margin: 0; 
  font-size: 1em; 
  
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: auto;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 #twitter-news{width: 8.33%;}
    .col-2 #twitter-news{width: 16.66%;}
    .col-3 #twitter-news{width: 25%;}
    .col-4 #twitter-news{width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
